# Port for server to run
PORT=5000

# MongoDB Connection String (Cloud URI)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/portfolio?retryWrites=true&w=majority

# JWT Token Secret for sign verify
JWT_SECRET=super_secret_key_change_this_for_production_jwt

# Default Admin User Credentials (created on first run if database is empty)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Cloudinary Credentials (Optional - Falls back to local disk storage if left empty)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
